.loader{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:10000;
    background:var(--background);
}
.grid-item{
    --grid-item-width:100%;
    --grid-item-width2:100%;
}
.grid-item:not(.loader){
    position:relative;
}
.grid-item:not(.loader):before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:var(--grid-item-width);
    height:100%;
    background:var(--background);
    z-index:10;
}
.grid-item:not(.loader):after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:var(--grid-item-width2);
    height:100%;
    background:var(--black);
    z-index:9;
}