:root{
    --background: var(--grey);
}
body{
    color:var(--black);
}

.container {
    display: grid;
    grid-template-columns: 10px 250px 1fr 1fr 1fr 1fr 10px;
    grid-template-rows: 10px 120px 1fr 10px;
    gap: 2px 2px;
    grid-auto-flow: row;
    grid-template-areas:
    "c0 c1 c2 c3 c4 c5 c6"
    "c7 nav0 nav1 nav2 nav3 nav4 c8"
    "c9 sidebar main main main main c10"
    "c11 c12 c13 c14 c15 c16 c17";
    width:100vw;
    height:100vh;
    background:var(--black);
}

.container .grid-item:not(.nav0):not(.s3), .container .corner, .main{
    background:var(--background);
}

.nav1 { grid-area: nav1; }

.nav2 { grid-area: nav2; }

.nav3 { grid-area: nav3; }

.nav4 {
    grid-area: nav4;
    gap:2px;
    background:var(--black) !important;
}
.nav4 > div{
    background:var(--background);
}

.grid{
    display: grid;
}
.grid-col-2 {
    grid-template-columns: 1fr 1fr;
}
.grid-col-3 {
    grid-template-columns: 1fr 1fr 1fr;
}
.grid-row-2 {
    grid-template-rows: 1fr 1fr;
}
.grid-row-3 {
    grid-template-rows: 1fr 1fr 1fr;
}

.nav4 h1{
    font-family: 'Sterion', sans-serif;
    font-style: italic;
    margin: 5px 0 0 25px;
}
.nav4 [data-barcode]{
    width:60%;
    height:25px;
    margin: 0 0 0 25px;
}
.nav4-0{
    padding-bottom:5px;
}
.nav4-0-0{
    display:flex;
    justify-content: space-between;
    padding-inline:25px;
    align-items: center;
}
.nav4-1{
    display:flex;
    width: 100%;
    justify-content: space-between;
    height: 100%;
    overflow: hidden;
}
.nav4-1-0 {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 2px 2px;
    grid-auto-flow: row;
    grid-template-areas:
    "nav4-1-0-0 nav4-1-0-0"
    "nav4-1-0-1 nav4-1-0-2";
    width: 100%;
    height: 100%;
    background: var(--black) !important;
}
.nav4-1-1{
    aspect-ratio: 1/1;
    border-left: 2px solid var(--black);
    /*padding: 5px;*/
}
.nav4-1-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}
.nav4-1-0 > div:not(.color-change){
    background: var(--background);
}

.nav4-1-0-0 {
    grid-area: nav4-1-0-0;
    font-family: 'OffBit Trial Bold', sans-serif;
    font-style: italic;
    display:flex;
    align-items: center;
    justify-content: center;
}
.nav4-1-0-0 .marquee .marquee-inner .word{
    padding-right: 10px;
}

.nav4-1-0-1 { grid-area: nav4-1-0-1; }

.nav4-1-0-2 { grid-area: nav4-1-0-2; }
.cell{
    padding-left: 5px;
    padding-top:2px;
}
h4{
    font-family: 'Teknaf', sans-serif;
    font-size:0.75rem;
    margin: 0;
}
h5{
    font-family: 'Teknaf', sans-serif;
    font-size:0.5rem;
    margin: -1px 0 0;
}
h3{
    font-family: 'Teknaf', sans-serif;
    font-weight: bold;
    margin: 0;
}
h5 + h3{
    margin-top:-2px;
}
.flex{
    display: flex;
}
.col{
    flex-direction: column;
}

.nav0 {
    grid-area: nav0;
    background:var(--black);
}
.nav0 > div:nth-child(1){
    width:25px;
    height:10px;
    margin: 10px 0 0 25px;
}
.nav0 h1{
    font-family: 'Sterion', sans-serif;
    color:var(--background);
    margin: 0 10px 0 10px;
}
.nav0 > div:nth-child(2) > div{

    height:2em;
    margin-right:10px;
}
.nav0 > div:nth-child(2) > h1{
    width:100%;
}
.nav0 > :nth-child(3){
    text-align:right;
}
.nav0 > h4{
    text-align:right;
    color:var(--background);
    margin-right:10px;
}
.nav0 > div:nth-child(5){
    width:calc(100% - 20px);
    margin-left: 10px;
    height:10px;
    margin-top:15px;
}

.sidebar {
    grid-area: sidebar;
    background: var(--black);
    display: flex;
    flex-direction: column;
    gap: 2px;
    height:100%;
}
.sidebar .s0{
    height:100px;
}
.sidebar .s0 h4{
    margin: 10px 0 0 10px;
}
.sidebar .s0 .list{
    user-select:none;
    display:flex;
    flex-wrap: wrap;
    gap:5px;
    margin: 2px 10px 10px;
    padding:5px;
    position:relative;
}
.sidebar .s0 .list .crosshair{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    pointer-events:none;
}
.sidebar .s0 .list .list-item{
    position:relative;
}
.sidebar .s0 .list .c1{
    position:absolute;
    top:0;
    left:0;
    width:7px;
    height:2px;
    background:currentColor;
}

.sidebar .s0 .list .c2{
    position:absolute;
    top:0;
    right:0;
    width:7px;
    height:2px;
    background:currentColor;
}
.sidebar .s0 .list .c3{
    position:absolute;
    bottom:0;
    right:0;
    width:7px;
    height:2px;
    background:currentColor;
}
.sidebar .s0 .list .c4{
    position:absolute;
    bottom:0;
    left:0;
    width:7px;
    height:2px;
    background:currentColor;
}
.sidebar .s0 .list .c5{
    position:absolute;
    top:0;
    left:0;
    width:2px;
    height:7px;
    background:currentColor;
}
.sidebar .s0 .list .c6{
    position:absolute;
    top:0;
    right:0;
    width:2px;
    height:7px;
    background:currentColor;
}
.sidebar .s0 .list .c7{
    position:absolute;
    bottom:0;
    right:0;
    width:2px;
    height:7px;
    background:currentColor;
}
.sidebar .s0 .list .c8{
    position:absolute;
    bottom:0;
    left:0;
    width:2px;
    height:7px;
    background:currentColor;
}
.sidebar .s0 .list .list-item a{
    color: var(--black);
    text-decoration: none;
    font-family: monospace;
    cursor:none;
    width:100%;
    padding:5px;
    text-align:center;
    display: flex;
}
.sidebar .s1{
    height:100%;
    display:flex;
    flex-direction: column;
    gap: 2px;
    padding:10px;
    padding-top:calc(10px + 1em);
    overflow-y: auto;
    overflow-x: hidden;
    position:relative;
}
.sidebar .s1 > h4:nth-child(1){
    position:fixed;
    /*top:10px;*/
    /*left:10px;*/
    margin-top:calc(-1em - 5px);
    z-index:4;
    /*
    font-family: 'Sterion', sans-serif;
    color: var(--background);
    background:var(--black);
    padding: 5px 15px;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar .s1 h4:nth-child(1) span{
    height:1em;
    text-shadow:  0 0 20px var(--black);
}
.sidebar .s1 .projects{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height:100%;
}
.sidebar .s1 .projects .project{
    font-family: 'Sterion', sans-serif;
    white-space: nowrap;
}
.sidebar .s2{
    flex: 1;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    font-family: 'Teknaf', sans-serif;
    letter-spacing: 0.1em;
}
.sidebar .s3{
    flex: 2;
    background:var(--black);
    display: flex;
    gap:2px;
    justify-content: stretch;
}
.sidebar .s3 > div{
    background:var(--background);
    height:50px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar .s3 svg{
    width:100%;
    height:100%;
}
h6{
    background:var(--black);
    padding: 2px 10px;
    color: var(--background);
    font-family: 'Sterion', sans-serif;
}

.pill{
    color:var(--background);
    background:var(--black);
    padding: 5px 15px;
    font-family: 'Sterion', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:5px;
    margin-bottom:5px;
}
.pill span{
    height:1em;
}

.main {
    grid-area: main;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    background:var(--black) !important;
}

main.main-content {
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    position:relative;
    background:var(--black) !important;
}

.main-content img {
    width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}

.main-content .text-block {
    margin: 30px 0;
}

.main-content .text-block p {
    line-height: 1.6;
    margin: 0;
}

.color-change{
    background:var(--green);
}
.nav-item{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Sterion', sans-serif;
    font-size: 1.5rem;
}
.nav-item a{
    color:var(--black);
    text-decoration: none;
    cursor:none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}




section.project{
    width:100%;
    height:var(--main-height);
    position:relative;
    background:var(--background);
}
section.project img{
    width:100%;
    height:100%;
    object-fit: cover;
    position:absolute;
    top:0;
    left:0;
    margin: 0;
    z-index:0
}
section.project h1{
    font-family: 'Sterion', sans-serif;
    position:absolute;
    margin: 0;
    z-index:1;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    font-size:min(5em, 7vw);
    white-space: nowrap;
    color:var(--primary);
    text-shadow: -1px -1px 0 var(--black), 1px -1px 0 var(--black), -1px 1px 0 var(--black), 1px 1px 0 var(--black);
    text-align: center;
}