:root{
    --primary: var(--yellow);
    --green: rgb(109, 136, 103);
    --blue: rgb(103, 110, 136);
    --dark-blue: rgb(19, 49, 81);
    --red: rgb(159, 85, 76);
    --yellow: rgb(215, 164, 105);
    --black: rgb(26, 26, 26);
    --grey: rgb(150, 150, 150);
    --metal: rgb(71, 71, 71);
}