.marquee .marquee-inner{
    display: flex;
    width: max-content;
    animation: marquee-left 16s linear infinite;
}
.marquee{
    overflow: hidden;
}
.marquee .marquee-inner .word{
    height:1em;
    display: inline-block;
    white-space: nowrap;
    padding-right: 50px;
    animation: none;
}

@keyframes marquee-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

html.lenis,
html.lenis body {
    height: auto;
}

.lenis:not(.lenis-autoToggle).lenis-stopped {
    overflow: clip;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}

.lenis.lenis-autoToggle {
    transition-property: overflow;
    transition-duration: 1ms;
    transition-behavior: allow-discrete;
}